* {
    margin: 0;
    padding: 0;
}

html {
    /*内容拖拽*/
    -webkit-app-region: drag;
}

textarea {
    /*文本域不可以拖放*/
    -webkit-app-region: no-drag;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    border-radius: 50%;
    height: 100vh;
    background-color: darkcyan;
    overflow: hidden;
}
